/* Animacijos kodas */
@keyframes example {
    0% {background-color: #a1a1a1;}
    20% {background-color: #0eff4c;}
    20% {background-color: #adff32;}
    20% {background-color: #7aff3c;}
    100% {background-color: #a1a1a1;}
}

/* Elementas kuriam taikysime animacija */
.animacija {
    background-color: white;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}